.container{align-items: center;
max-width: 720px;
display: flex;
flex-direction: column;}

#ssti-inner-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ssti-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    padding: 5px;
}
li{
    list-style-type: none;
}

.code{
    background-color: #fafafaaa;
}