{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="content">
    <div class="box">
        <h4>Login</h4>
        <form method="post" class="form-group">
            <div style="margin-bottom: 15px;">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div style="margin-bottom: 15px;">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-info">Login</button>
        </form>
        <div style="margin-top: 15px;">
            Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
        </div>
    </div>
</div>
{% endblock %}
