version: "3.9"

services:
  migration:
    build: .
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py populate_challenges"
    volumes:
      - .:/app
    networks:
      - my_network

  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 --workers 6 pygoat.wsgi
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      migration:
        condition: service_completed_successfully
    networks:
      - my_network

  dependency_attack_lab:
    build:
      context: dockerized_labs/dependency_attack_lab/
    depends_on:
      - web
    networks:
      - my_network
    container_name: dependency_attack_lab
    ports:
      - "5020:5020"
  
  package_injection_lab:
    build:
      context: dockerized_labs/package_injection_lab/
    depends_on:
      - web
    networks:
      - my_network
    container_name: package_injection_lab
    ports:
      - "5021:5021"

  bopla_lab:
    build:
      context: challenge/labs/bopla_lab/
    depends_on:
      - web
    networks:
      - my_network
    container_name: bopla_lab
    ports:
      - "7018:8080"

  business_logic_lab:
    build:
      context: challenge/labs/business_logic_lab/
    depends_on:
      - web
    networks:
      - my_network
    container_name: business_logic_lab
    ports:
      - "7019:5010"

  security_headers_lab:
    build:
      context: challenge/labs/security_headers_lab/
    depends_on:
      - web
    networks:
      - my_network
    container_name: security_headers_lab
    ports:
      - "7020:5011"

networks:
  my_network:
    driver: bridge