{% extends "introduction/base.html" %}
{% block content %}
{% block title %}
<title>Broken Authentication Lab</title>
{% endblock %}
<div class="jumbotron">
    <div class="container">
        <h5 align="center">Login Through Otp</h5><br>
        <form method="get" action="/otp">
            <input name="email" type="email" placeholder="yourid@mail.com">
            <button class="btn btn-info" type="submit"> Send OTP</button>

        </form>

    </div>
</div>
<div class="container">
    <form method="post" action="/otp">
        <label for='enter'>Enter Your OTP:</label>
        <input id="enter" type="number" maxlength="3" name="otp"><br><br>
        <button class="btn btn-info" type="submit">Log in</button>
    </form>
</div><br>
<div class="container">
    {% if otp %}
    <h3 align="center">Your 3 Digit Verification Code:<code>{{otp}}</code></h3>
    {% endif %}

    {% if email %}
    <h3 align="center">Login Successful as user : <code>{{email}}</code></h3>
    {% endif %}



</div>
<!-- In case any issue with the code please mail the administrator through this mail id : "admin@pygoat.com" -->
{% endblock %}