{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>SQL Injection</title>
{% endblock %}
<div class="content">
    <h3>Description</h3>
    <div class="box">

        <h4>What is XML External Entity Injection<h4>
            <p class="bp">XML external entity injection (also known as XXE) is a web security vulnerability that allows an attacker to interfere with an application's processing of XML data. It often allows an attacker to view files on the application server filesystem, and to interact with any back-end or external systems that the application itself can access.

In some situations, an attacker can escalate an XXE attack to compromise the underlying server or other back-end infrastructure, by leveraging the XXE vulnerability to perform server-side request forgery (SSRF) attacks.
</p>
        <button class="coll btn btn-info">Lab Details</button>
        <div class="lab">
              <p class="bp">

XML external entity injection (also known as XXE) is a web security vulnerability that allows an attacker to interfere with an application's processing of XML data. It often allows an attacker to view files on the application server filesystem, and to interact with any back-end or external systems that the application itself can access.

In some situations, an attacker can escalate an XXE attack to compromise the underlying server or other back-end infrastructure, by leveraging the XXE vulnerability to perform server-side request forgery (SSRF) attacks.
</p>

              <br>
                  <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/xxe_lab'">Access Lab</button></div>

              </p>
        </div>
        <h4>Mitigation<h4>
             <p class="bp">Content goes here !!!!</p>



    </div>
</div>



{% endblock %}