{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>Insufficient Logging & Monitoring</title>
{% endblock %}
<div class="content">
    <h3>Description</h3>
    <div class="box">

        <h4>Insufficient Logging & Monitoring</h4>
            <p class="bp">Exploitation of insufficient logging and monitoring is the bedrock of nearly every major incident. Attackers rely on the lack of monitoring and timely response to achieve their goals without being detected. In 2016, identifying a breach took an average of 191 days so plenty of time for damage to be inflicted.
</p>
        <button class="coll btn btn-info">Lab Details</button>
        <div class="lab">
              <p class="bp">
                  As an attacker, I attack an organization and the logs, monitoring systems, and teams do not see or respond to my attacks 
</p>

              <br>
                  <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/index'">Access Lab</button></div>

              </p>
        </div>
        <h4>Mitigation<h4>
             <p class="bp">Content goes here !!!!</p>



    </div>
</div>



{% endblock %}