{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>A9</title>
{% endblock %}

<div class="container">
    <h3> In this page you can upload a image and apply different math equation on it</h3>
    <h4>Varriable reffernence</h4>
    <code>img --> actual image file | r --> red chennel | g --> green chennel</code>
    <code>b --> blue chennel | g --> green chennel</code>
    
    <form enctype="multipart/form-data" id="a9_form2" method="POST" style="display: flex;flex-direction: column;align-items: center;margin-bottom: 50px;">
        <input type="file" name="file" id="a9_file" />
        <input type="text" name="function" id="a9_function" placeholder="function"/>
        <button type="submit" id="a9_submit" >Submit</button>
    </form>

    {% if success %}
    <img src='data:image/jpeg;base64,{{img_str}}'/>
    {% endif %}
</div>

<script>
    function submite_form(){
        console.log("Submited")
        var form = document.getElementById('a9_form2');
        form.submit();
    }
    {% if error %}
    alert("{{ data }}");
    {% endif %}

</script>

{% endblock %}