{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Broken Access Control.</title>
{% endblock  %}

<div class="jumbotron">
    <h4 style="text-align:center"> Jack's Libraries </h4>
    <code>
        <ul>
            <li>Drupal version=8.6.8</li>
            <li>django-tastypie  version=0.9.10</li>
            <li>PyYAML version=5.3.1</li>
            <li>xml.sax</li>
            <li>urllib3 version=1.23</li>
        </ul>
    </code>



{% endblock %}