{% extends "introduction/base.html" %}
{% block content %}

<div class="content">
    <h3>Description</h3>
    <div class="box">

        <h4>What is Cross Site Scripting or XSS?<h4>
            <p class="bp">Cross site scripting or XSS is a client side code injection .In this type of attack the attacker tries to inject malicious script into a trusted site.The malicious script is usually a javascript code , which helps the attacker to perform malicious activities, like redirecting the victim to an attacker site , stealing cookies etc. Some times XSS vulnerability can be chained with other vulnerabilities to create great impact
            <br>
Talking about XSS we have different type of it:

>Reflected XSS
> Stored XSS
>DOM XSS
<br>
Reflected XSS

Reflected XSS occurs when user input is immediately returned by a web application in an error message, search result, or any other response that includes some or all of the input provided by the user as part of the request, without that data being made safe to render in the browser, and without permanently storing the user provided data.
<br>
Stored XSS

Stored XSS generally occurs when user input is stored on the target server, such as in a database, in a message forum, visitor log, comment field, etc. And then a victim is able to retrieve the stored data from the web application without that data being made safe to render in the browser.

Blog comments sessions  are places which can be vulnerable to stored xss , once a vulnerable xss payload is posted  then every user that visits the blog comment session would have the impact of the vulnerability.
<br>
DOM XSS

This type of XSS is possible when javascript takes in an user controllable code and passes it to a sink ,for code execution . Examples of sinks are window.location , innerhtml , document.write .When the attacker tries to inject malicious code into a sink , then this type of XSS is called the DOM Xss

</p>
        <button class="coll btn btn-info">Lab Details</button>
        <div class="lab">
              <p class="bp">

This lab will help you to understand the Reflective Type of XSS.

The lab consists of a Search page called FAANG IT , which helps you to get some information about Facebook, Apple ,Amazon ,Netflix, Google. The user can input one of the companies into the search bar and see the info related to it.

            <p class="bp">If a user searches for something else , he can see a message saying that the search term is not part of the Company </p>

            <p class="bp">What can go wrong Here? Yes, this html page reflects the search query back to the page when the user enters something which is not part of the FAANG.

Exploiting the Reflection of the search query

                Now instead of giving a search term try giving a script &lt;script&gt;alert(1)&lt;/script&gt;
</p>

              <br>
                  <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/xssL'">Access Lab</button></div>

              </p>
        </div>
        <h4>Mitigation<h4>
             <p class="bp">Content goes here !!!!</p>



    </div>
</div>




{% endblock content %}