{% extends "introduction/base.html" %}
{% block content %}
{% block title %}
<title>INJECTION: XSS PERSISTENT LAB</title>
{% endblock %}

<div class="container">
    <div class="row row-content align-items-center">
        <div class="col col-sm order-sm-first col-md">
            <h2 class="ml-4"><span class="badge badge-danger">Luffy Nika Nika No MI</span></h2>
            <p>Will luffy defeat Kaido in the wano arc? Please add your comments below:</p>        
        </div>
    </div>
    <div class="row row-content align-items-center">
        <div class="col col-sm order-sm-first col-md">
            <div class="media">
                <img class="d-flex mr-3 img-thumbnail align-self-center"
                src="../../../static/nika.jpg">
            </div>
        </div>
    </div>
    <div class="container mt-4" margin-top="100px" style="align:center">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="/pxss">
                    {% csrf_token %}
                    <label for="comments"><b>Comments:<b></label>
                    <input id="comment" type="text" name="comment">
                    <button class="btn btn-info" type="submit" name="q">
                        Add comment
                    </button>
                </form>
            </div>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row row-content align-items-center">
        <div class ="col-md-12">
            <h3 style="color:blue">All Luffy Comments:</h3>
        </div>
        <div class ="col-md-12">
            <div class="display">
                {% for comment in comments %}
                 {{comment|safe}}<br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<div align="right"> <button class="btn btn-info" type="button" onclick="window.location.href='/xss'">Back to Lab
        Details</button></div>
</p>
{% endblock content %}