{% extends "introduction/base.html" %}
{% block content %}
{% block title %}
<title>XSS LAB</title>
{% endblock  %}



<div class="container" style="align:center">
    <div class="search" style="align:center">
        <form method="get" action="/xssL1">
        <label for="search">Phone Name</label>
        <input id="search" type="text" name="q" placeholder="Search for phones">
            <button  class="btn btn-primary" type="submit" >
           Go
            </button>
         </form>
     </div>
</div>
<div class="display container">
    <h1> You searched for :{{query|safe}} </h1>
</div>



{% endblock content %}