{% extends "introduction/base.html" %}
{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <button type="submit" class="btn btn-info" style="margin-bottom:20px"><a href="/login" style="color: rgb(255, 255, 255); text-decoration: none;">Login</a></button>
        instead.</p>
</div>

{% endblock %}