
#home-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#home-section1-img{
    opacity: .25;
    width: 400px;
}
.lab-status-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
  background: #9aa0a6;
}

.lab-status-indicator.running {
  background: #4ec754;
}

.lab-status-indicator.not-running {
  background: #9aa0a6;
}
.loading-spinner {
  width: 2rem;
  height: 2rem;
  border: 0.25em solid #17a2b8;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  vertical-align: -0.125em;
  animation: loading-spinner 0.75s linear infinite;
}

@keyframes loading-spinner {
  to {
    transform: rotate(360deg);
  }
}
.modal-status{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#launch-status-msg,
#manage-status-msg{
  overflow: auto;
}