{% extends "introduction/base.html" %}
{% block content %}
{% block title %}
<title>Identification and Authentication Failures</title>
{% endblock %}

{% if success %}
    <h1>Successfully logged in as {{user.username}}
{% else %}
    <div class="jumbotron">
        <h4 style="text-align:center"> LOG IN </h4>
        <div class="login" style="display: flex;justify-content: center;flex-direction: row;}">
            <form method="post">
                {% csrf_token %} 
                <input id="input" type="text" name="username" placeholder="User Name"><br>
                <input id="input" type="password" name="password" placeholder="Password"><br>
                <button style="margin-top:20px" class="btn btn-info" type="submit"> Log in</button>
            </form>
        </div>
    </div>

    {% if failure %}
        <script>alert("Login Failed")</script>
    {% endif %}
{% endif %}

{% if is_locked %}
<script>alert("Account Locked")</script>
{% endif %}

{% comment %} -------------------------------------------------------------------------- {% endcomment %}

<button class="coll2 btn btn-info" style= "position : fixed ; right :200px; bottom : 7px">View Code</button>
<div class="lab code">
   <code>   
    @authentication_decorator<br>
    def auth_failure_lab2(request):<br>
    &emsp;if request.method == "GET":<br>
    &emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html" )<br>
    <br>
    &emsp;elif request.method == "POST":<br>
    &emsp;&emsp;username = request.POST["username"]<br>
    &emsp;&emsp;password = request.POST["password"]<br>
    &emsp;&emsp;try:<br>
    &emsp;&emsp;&emsp;user = AF_admin.objects.get(username=username)<br>
    &emsp;&emsp;&emsp;print(type(user.lockout_cooldown))<br>
    &emsp;&emsp;&emsp;if user.is_locked == True and user.lockout_cooldown > datetime.date.today():<br>
    &emsp;&emsp;&emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html", {"is_locked":True})<br>
    <br>
    &emsp;&emsp;&emsp;try:<br>
    &emsp;&emsp;&emsp;&emsp;ph = PasswordHasher()<br>
    &emsp;&emsp;&emsp;&emsp;ph.verify(user.password, password)<br>
    &emsp;&emsp;&emsp;&emsp;if user.is_locked == True and user.lockout_cooldown < datetime.date.today():<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.is_locked = False<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.last_login = datetime.datetime.now()<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.failattempt = 0<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.save()<br>
    &emsp;&emsp;&emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html", {"user":user, "success":True,"failure":False})<br>
    &emsp;&emsp;&emsp;except:<br>
    &emsp;&emsp;&emsp;&emsp;fail_attempt = user.failattempt + 1<br>
    &emsp;&emsp;&emsp;&emsp;if fail_attempt == 5:<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.is_active = False<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.failattempt = 0<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.is_locked = True<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.lockout_cooldown = datetime.datetime.now() + datetime.timedelta(minutes=1440)<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;user.save()<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html", {"user":user, "success":False,"failure":True, "is_locked":True})<br>
    &emsp;&emsp;&emsp;&emsp;user.failattempt = fail_attempt<br>
    &emsp;&emsp;&emsp;&emsp;user.save()<br>
    &emsp;&emsp;&emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html",{"success":False, "failure":True})<br>
    &emsp;&emsp;except Exception as e:<br>
    &emsp;&emsp;&emsp;print(e)<br>
    &emsp;&emsp;&emsp;return render(request,"Lab_2021/A7_auth_failure/lab2.html",{"success":False, "failure":True})<br>
   </code>
    
</div>
<div>

<div style= "position : fixed ; right : 7px; bottom : 7px"> <button class="btn btn-info" type="button" onclick="window.location.href='/auth_failure'">Back to Lab
    Details</button></div>

{% endblock %}