{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>Insufficient Logging & Monitoring</title>
{% endblock %}
<div class="content">
    <h3>Insufficient Logging & Monitoring</h3>
    <div class="box">
      <h4>What does Insufficient Logging & Monitoring means?</h4>
      <p class="bp">
        
      </p>
    <button class="coll btn btn-info">Lab Details</button>
    <div class="lab">
      <p class="bp">
        
      </p>
      <br>
      <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/a10_lab'">Access Lab</button></div>
    </div>
  <div>
    <h4>Mitigation</h4>
    <p class="bp">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </p>
  </div>
</div>



{% endblock %}