{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Insufficient Logging & Monitoring</title>
{% endblock  %}


   <div class="jumbotron">
    <h4 style="text-align:center">The Logs have been Leaked. </h4>
    <div class="login">
        <form method="post" action="/a10_lab">
            {% csrf_token %}
            <input id="input" type="text" name="name" placeholder="User Name"><br>
            <input id="input" type="password" name="pass" placeholder="Password"><br>
            <button  style="margin-top:20px" class="btn btn-primary" type="submit"> Log in</button>


        </form>
    </div>


</div>

<div class="container">
    {% if name %}
         <h2>Logged in as <pre><{{name}}/pre> </h2>
    {% else %}
         <h2> <pre>{{error}}</pre></h2>
    {% endif %}

</div>

<br>
<div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/a10'">Back to Lab Details</button></div>

</p>

{% endblock %}