{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title>Security Misconfiguration</title>
{% endblock %}
<script defer src="{% static 'Lab/sec_mis.js' %}"></script>

<div class="jumbotron" id="display">
       <button class="btn btn-info" type="button" onclick="window.location.href ='/secret'">Secret Key</button><br><br>


       {% if secret %}
       <h2>Success. You have the secret
              <pre>{{secret}}</pre>
       </h2>
       {% endif %}

       {% if no_secret %}
       <h3>{{no_secret}}</h3>
       {% endif %}

</div>
<script defer src="{% static 'Lab/sec_mis.js' %}"></script>

<br>
<div align="right"> <button class="btn btn-info" type="button" onclick="window.location.href='/sec_mis'">Back to Lab
              Details</button></div>

</p>

{% endblock content %}