{% extends 'introduction/base.html' %}
{% block content %}
{% block title %}
<title>Sensitive Data Exposure</title>
{% endblock %}
<div class="content">
    <h3>Description</h3>
    <div class="box">

        <h4>What is Sensitive Data Exposure</h4>
            <p class="bp"> 
            </p>
        <button class="coll btn btn-info">Lab Details</button>
        <div class="lab">
              <p class="bp">
                
              </p>

              <br>
                  <div align="right"> <button class="btn btn-primary" type="button" onclick="window.location.href='/data_exp_lab'">Access Lab</button></div>
        </div>
        <h4>Mitigation</h4>
             <p class="bp">Content goes here !!!!</p>
    </div>
</div>



{% endblock %}