{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title> CSRF LAB </title>
{% endblock %}
    <div class="jumbotron">
        <h4 style="text-align:center"> LOG IN </h4>
        <div class="login" style="display: flex;justify-content: center;flex-direction: row;}">
            <form method="post">
                {% csrf_token %} 
                <input id="input" type="text" name="username" placeholder="User Name"><br>
                <input id="input" type="password" name="password" placeholder="Password"><br>
                <button style="margin-top:20px" class="btn btn-info" type="submit"> Log in</button>
            </form>
        </div>
    </div>

{% endblock %}