{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title> Unrestricted Upload of File with Dangerous Type </title>
{% endblock %}
    <div class="container">
        <h2 style="font-size:2.7rem">CWE-343: <span>Unrestricted Upload of File with Dangerous Type</span></h2>
    </div>

    <div class="box">
        The software allows the attacker to upload or transfer files of dangerous types that can be automatically processed within the product's environment.
        <br>
        In vulnerability databases and other places, the term "unrestricted file upload" is used, however it is not specific enough. The statement could be taken to mean that there are no limitations on the amount or size of uploaded files, which is a problem with resource use.
    </div>

{% endblock %}