{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title> 	NULL Pointer Dereference </title>
{% endblock %}
    <div class="container">
        <h2 style="font-size:2.7rem">CWE-476: <span>	NULL Pointer Dereference</span></h2>
    </div>
    <div class="box">
        When an application dereferences a pointer that it anticipates to be valid but is NULL, 
        it results in a crash or programme exit. Issues with NULL pointer dereference can arise 
        from a variety of bugs, such as race situations and straightforward programming errors.
    </div>
{% endblock %}