{% extends "introduction/base.html" %}
{% load static %}
{% block content %}
{% block title %}
<title> Predictable Value Range from Previous Values </title>
{% endblock %}
    <div class="container">
        <h2 style="font-size:2.7rem">CWE-343: <span>Predictable Value Range from Previous Values</span></h2>
    </div>

    <div class="box">
        The product's random number generator produces a series of values which, when observed, can be used to infer a relatively small range of possibilities for the next value that could be generated.
        <br>
        The output of a random number generator should not be predictable based on observations of previous values. In some cases, an attacker cannot predict the exact value that will be produced next, but can narrow down the possibilities significantly. This reduces the amount of effort to perform a brute force attack. For example, suppose the product generates random numbers between 1 and 100, but it always produces a larger value until it reaches 100. If the generator produces an 80, then the attacker knows that the next value will be somewhere between 81 and 100. Instead of 100 possibilities, the attacker only needs to consider 20.
    </div>

{% endblock %}